---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import Hero from "../components/Hero.svelte";
import About from "../components/About.svelte";
import Projects from "../components/Projects.svelte";
import Footer from "../components/Footer.svelte";
---

<Layout title="Silky.Moe — Portfolio">
  <Header client:load />
  <main>
    <Hero />
    <About />
    <Projects />
  </main>
  <Footer />
</Layout>
